@font-face {
    font-family: "Trajanus Roman";
    src: url(/fonts/TrajanusRoman.ttf);
}

* {
    font-family: "Trajanus Roman", serif;
}

body {
    background-color: rgba(90, 0, 0, 0.836);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 48px;
    width: 60%;
    height: 400px;
    margin: 64px auto;
    background-color: rgb(222, 234, 245);
    border:0;
    border-radius: 6px;
}



input {
    height: 4rem;
    width: 20rem;
    min-width: 200px;
    font-size: 3rem;
}

input:invalid {
    border: red solid 3px;
  }

button {
    height: 3rem;
    width: 6rem;
    font-size: 1.5rem;
}

#integer {
    font-size: 2.5rem;
    font-family: 'Trajanus Roman';
}