@font-face {
    font-family: "Antique Roman";
    src: url(/fonts/AntiqueRoman-jVDG.ttf);
}

* {
    font-family: "Antique Roman";
}

body {
    background-color: rgba(90, 0, 0, 0.836);
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 48px;
    width: 60%;
    height: 400px;
    margin: 64px auto;
    background-color: rgb(222, 234, 245, 0.5);
    border: 1px solid black;
    border-radius: 6px;
    box-shadow: 2px 2px 2px rgb(0, 0, 49);
}

input {
    height: 4rem;
    width: 300px;
    min-width: 180px;
    font-size: 3rem;
    padding-top: 8px;
}

input:invalid {
    border: rgba(90, 0, 0, 0.836) solid 3px;
  }

button {
    height: 3rem;
    width: 8rem;
    font-size: 1.5rem;
    border: 0;
    border-radius: 6px;
    background-color: rgb(218, 173, 114);
}

button:hover {
    box-shadow: 4px 4px 4px rgb(85, 85, 85);
}

#integer {
    font-size: 2.5rem;
    font-family: "Antique Roman";
}